---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        <span class="post-date">{{ post.date | date: '%b %-d, %Y' }}</span>
        {{ post.excerpt }}
        {% if post.content contains site.excerpt_separator %}
             <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
          {% endif %}
      </div>

    </article>
  {% endfor %}
</div>
